<meta property="og:image" content="https://cdn.discordapp.com/attachments/792832352229261352/800699585483767868/cwpng.jpg"/>
<title>CodeWork | Anasayfa</title>
<br><br>

<main class="container-fluid bg-lightdark" style="padding: 1rem;">
<div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
  <div id="avatar2">
		<img class="sunucusresmi" height="120" width="120" src="https://cdn.discordapp.com/attachments/737267978751443004/752262557154410657/cwpng.jpg">
</div><br>
  <section class="portfolio-block block-intro" style="padding: 30px;margin-top: -30px;">
      <div class="container">
         <div class="about-me">
            <div class="container">
               
               <p style="font-size: 18px;margin: 1px;">Discord Kod Paylaşım Sitesi!</p>
               <p style="margin: 5px;font-size: 20px;">Sitemize Giriş yaparak kodlara kolay şekilde ulaşabilirsiniz.
                  Sıkça sorulan sorular kısmını okumayı unutma!<br>
               </p>
            </div>
         </div>
      </div>
	
   </section>
  
  <ul class="list-unstyled list-inline text-center">
  <div class="container footeralt">
  
    <a target="_blank" href="facebook" class="sosyal-icon" style="color: #3b5998;">
  <i class="fab fa-facebook"></i>
  </a>
      <a target="_blank" href="instagram" class="sosyal-icon" style"color: #">
  <i style="background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;" class="fab fa-instagram"></i>
  </a>
  
  <a target="_blank" href="github" class="sosyal-icon" style="color: white;">
  <i class="fab fa-github"></i>
  </a>
  
  <a target="_blank" href="/youtube" class="sosyal-icon" style="color: #bb0000;">
  <i class="fab fa-youtube"></i>
  </a>
    
    <a target="_blank" href="gmail" class="sosyal-icon" style="color: #AC3834;">
  <i class="far fa-envelope"></i>
  </a>
  
   <a target="_blank" href="/davet" class="sosyal-icon">
  <i class="fab fa-discord"></i>
  </a>
  
  </div>
   </div>
  </ul>
  
  
</main>